*.sh text eol=lf
*.bash text eol=lf
*.py text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.cu text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.gitignore text eol=lf
*.gitattributes text eol=lf
*.ps1 text eol=lf
*.json text eol=lf
*.jsonl text eol=lf

*.gai binary
*.gguf binary
*.gbin binary
*.gtok binary
*.ckpt binary
*.bin binary
*.exe binary
*.a binary
*.o binary
*.obj binary
*.log binary
